






/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
	
.header-area {
  height: 60px;
}
.navbar-header a.navbar-brand,.stick .navbar-header a.navbar-brand {
  display: inline-block;
  height: 60px;
  padding: 9px 0;
}
.navbar-default .navbar-toggle,.stick .navbar-default .navbar-toggle {
  padding: 15px 0;
}
.nav.navbar-nav.navbar-right,.stick .nav.navbar-nav.navbar-right{
  background-color: #252525;
  padding: 0;
  margin-top: 0 ;
}
.main-menu ul.navbar-nav li,.stick .main-menu ul.navbar-nav li  {
  display:block;
}
.main-menu ul.navbar-nav li a,.stick .main-menu ul.navbar-nav li a {
  padding: 10px 2px;
}
.main-menu ul.navbar-nav li.active a::after,.stick .main-menu ul.navbar-nav li.active a::after {
  border: 0px solid #fff;
}
.logo {
  height: inherit;
  left: 0;
  padding: 0;
  position: absolute;
  top: -6px;
  z-index: 999999;
}
.logo a {
  padding: 0;
}
.slider-content-2 .layer-1-1 h2 {
    font-size: 18px;
    line-height: 24px;
}
.slider-content-2 .layer-1-1 h1 {
    font-size: 24px !important;
    line-height: 28px !important;
}
.slider-content-2 .layer-1-2 h1 {
    font-size: 24px;
    line-height: 32px;
}
.layer-1-3 a.ready-btn {
    padding: 8px 15px;
}
.section-headline h2 {
    font-size: 30px;
}
.well-middle .single-well{
  margin-top: 30px;
}
.single-skill {
  margin-bottom: 40px;
}
	.tab-menu {
  margin-top: 30px;
}
.tab-menu ul.nav li a {
  padding: 8px 6px;
}
.wellcome-text {
    margin: 0px;
    padding: 70px 0px;
}
.subs-feilds {
    width: 100%;
}
.section-headline h3 {
  font-size: 25px;
}
.well-text > h2 {
  font-size: 18px;
}
.well-text p {
  display: none;
}
.single-team-member {
  margin-bottom: 30px;
}
.service-right {
  width: 100%;
}
.service-images:hover .overly-text {
    display: none;
}
.single-member {
    margin-top: 30px;
}
.pri_table_list {
  margin-bottom: 30px;
}
.single-awesome-project,.portfolio-2 .single-awesome-project  {
  width: 100%;
  float:none;
}
.single-blog {
  margin-bottom: 30px;
}
.sus-btn {
	margin-left: 0;
	margin-top: 30px;
}
.contact-form {
  margin-top: 30px;
}
.head-team h5 {
  font-size: 22px;
}
.footer-content {
  margin-bottom: 30px;
}
.header-bottom h1 {
    font-size: 30px;
    margin-bottom: 0;
}
.page-area .slider-content {
    padding: 100px 0;
}
.search-option input {
    width: 74%;
}
.header-bottom h2 {
  font-size: 20px;
  margin-bottom: 0;
}
li.threaded-comments {
  margin-left: 0;
}
.about-list > li {
    width: 100%;
}
.section-2 h2 {
    font-size: 26px;
}
.pri_table_list li.check.cross::after,
.pri_table_list li.check::after{
    left: 20%;
}
.project-menu li a {
    padding: 8px 1px;
    margin: 0px 4px;
}
.about-well > a {
    display: block;
    margin-bottom: 30px;
}
.fun_text {
    margin-bottom: 40px;
}
.fun_text span {
    font-size: 30px;
    line-height: 30px;
}
.fun-content > h4 {
    font-size: 13px;
}
.faq-details {
    margin-top: 30px;
}
.video-features{
    margin-bottom: 30px;
}
.our-skill-team {
    padding-right: 0px;
    margin: 38px 15px;
}
.comments-content-wrap {
    font-size: 13px;
    margin: 0 0 10px 60px;
    padding: 0px;
} 
.comments-content-wrap span {
    line-height: 20px;
}
.post-information h2 {
    font-size: 20px;
}
.col-md-4.col-sm-4.col-xs-12.design.development {
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.photo{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.design{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.photo.development{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.development{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.design.photo{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.design.development{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.photo{
	padding: 0% 6%;
}
.col-md-4.col-sm-4.col-xs-12.design{
	padding: 0% 6%;
}
}




@media screen and (min-width: 480px) and (max-width: 767px){
	.project-dec h4 {
    	font-size: 30px;
    	margin-top: -77px;
    }
    .single-member {
    	padding: 0% 19%;
	}
}


/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.submitbtn {
  float: none;
  width: 99.8%;
}
.icons-bottom ul li a {
  height: 40px;
  line-height: 37px;
  width: 40px;
}
.blog-post-dlc ul li {
  padding-left: 20px;
  padding-right: 20px;
}
.awesome-portfolio-content .portfolio-2 {
  width: 50%;
}
.gallary-details .single-awesome-portfolio {
  width: 50%;
}
.tab-menu ul.nav li a {
    padding: 8px 20px;
}
.about-list > li {
    width: 40%;
}
.project-menu li a {
    padding: 8px 10px;
    margin: 10px 4px;
}
}
 
@media screen and (min-width: 320px) and (max-width: 480px){
	.project-dec h4 {
    	font-size: 21px;
    	margin-top: -63px;
    }
}

  
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.main-menu ul.navbar-nav li {
  display: inline-block;
  padding: 0 8px;
}
.layer-1-1 h2 {
    font-size: 24px;
}
.layer-1-2 h1 {
    font-size: 31px;
    line-height: 38px;
}
.stick .main-menu ul.navbar-nav li a {
    padding: 24px 0px;
}
.tab-menu ul.nav li a {
    padding: 10px 16px;
}
.team-content.text-center > h4 {
    font-size: 20px;
}
.sus-btn {
    margin-left: 0;
}
.suscribe-text h3 {
    font-size: 16px;
    padding-right: 20px;
}
.work-right-text h5 {
    font-size: 14px;
    line-height: 22px;
}
.work-right-text {
  padding: 36px 0;
}
.work-right-text h2 {
  font-size: 14px;
  line-height: 22px;
}
.work-right-text .ready-btn {
  font-size: 13px;
  padding: 7px 20px;
  margin-top: 5px;
}
.single-awesome-portfolio {
  width: 33.33%;
}
.widget-product a img {
  display: block;
  float: none;
  width: 100%;
}
.widget-product .product-info {
  display: block;
  float: none;
  padding-left: 0;
  width: 100%;
  margin-top: 20px;
}
.map-column {
  margin-left: 0;
  padding-right: 40px;
}
.post-information .entry-meta {
  font-size: 13px;
  padding: 5px 0;
}
.post-information .entry-meta span a {
  padding: 4px 0;
}
.service-pic {
  margin-bottom: 30px;
  text-align: center;
}
.single-add-itms {
  width: 50%;
}
.left-sidebar-title > h4 {
  font-size: 18px;
}
.contact-form {
  margin-top:0px;
}
.search-option input {
    width: 67%;
}
.section-2 h2 {
    font-size: 30px;
}
.pri_table_list li.check.cross::after,
.pri_table_list li.check::after{
    left: 10%;
}
.single-services > h4 {
  font-size: 20px;
}
.faq-details {
    margin-top: 30px;
}
.video-features{
    margin-bottom: 30px;
}
.skill-images {
  margin-top: 18%;
}   
.project-dec h4 {
  color: #f58748;
  font-size: 20px;
  margin-top: -21%;
} 
.fun-fact-area {
    margin: 3% 0%;
}
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
  
.slider-content {
  padding: 146px 0;
}
.work-right-text {
  padding: 40px 0;
}
.work-right-text h2 {
  font-size: 18px;
  line-height: 28px;
}
.fun-fact-area {
    margin: 3% 0%;
}
.skill-images {
    margin-top: 6%;
}    
}
@media (min-width: 1260px) and (max-width: 1300px) {
.slider-content {
    padding: 273px 0;
  }
}

@media (min-width: 1170px) and (max-width: 1199px) {
.skill-images {
    margin-top: 6%;
}
}

@media (min-width: 1920px) {
.work-right-text {
  padding: 150px 150px;
}
}


